# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/

# Data (too large for GitHub)
data/curated/
data/external/
data/External_Data/
data/final/
data/generated/
data/input/
data/parsed/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
